@model Annonssystem.Models.adDetails

@{
    ViewData["Title"] = "SkapaAnnons";
}


<h1>Skapa Annons</h1>
<br />
<br />
@if(ViewBag.Annonsor != null)
{
    <h5>Annonsör: @ViewBag.Annonsor.an_namn</h5>
    <p>Organisationsnummer : @ViewBag.Annonsor.an_orgNr</p>
    <p>Telefonnummer : @ViewBag.Annonsor.an_teleNr</p>
    <p>Adress : @ViewBag.Annonsor.an_utAdress, @ViewBag.Annonsor.an_postNr @ViewBag.Annonsor.an_ort</p>
    <p>Faktureringsadress : @ViewBag.Annonsor.an_faktAdress, @ViewBag.Annonsor.an_faktPostNr, @ViewBag.Annonsor.an_faktOrt </p>
}
@if(ViewBag.Prenumerant != null){
    <h5>Annonsör: Prenumerant</h5>
    <p>Prenumerationsnummer : @ViewBag.Prenumerant.pr_preNr</p>
    <p>Namn : @ViewBag.Prenumerant.pr_namn</p>
    <p>Telefonnummer : @ViewBag.Prenumerant.pr_teleNr</p>
    <p>Adress : @ViewBag.Prenumerant.pr_utAdress, @ViewBag.Prenumerant.pr_postNr @ViewBag.Prenumerant.pr_ort</p>

    <a asp-action="EditPrenumerant" asp-route-preNr="@ViewBag.Prenumerant.pr_preNr" class="btn btn-secondary">Edit</a>
}

<br />
<br />


<h4>Annons</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SkapaAnnons">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ad_rubrik" class="control-label"> Rubrik </label>
                <input asp-for="ad_rubrik" class="form-control" />
                <span asp-validation-for="ad_rubrik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ad_innehall" class="control-label"> Innehåll </label>
                <input asp-for="ad_innehall" class="form-control" />
                <span asp-validation-for="ad_innehall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ad_pris" class="control-label"> Pris </label>
                <input asp-for="ad_pris" class="form-control" />
                <span asp-validation-for="ad_pris" class="text-danger"></span>
            </div>
            
            @if(ViewBag.Prenumerant != null)
            {
                <div class="form-group">
                    <label asp-for="ad_annonsPris" class="control-label"> Annonspris </label>
                    <input asp-for="ad_annonsPris" type="hidden" />
                    <p class="form-control-static">0</p>
                </div>
                <div class="form-group">
                    <label asp-for="ad_pr_preNr" class="control-label"> Prenumerationsnummer </label>
                    <input asp-for="ad_pr_preNr" type="hidden" />
                    <p class="form-control-static">@ViewBag.Prenumerant.pr_preNr</p>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="ad_annonsPris" class="control-label"> Annonspris </label>
                    <input asp-for="ad_annonsPris" type="hidden" />
                    <p class="form-control-static">40</p>
                </div>
                <div class="form-group">
                    <label asp-for="ad_an_orgNr" class="control-label"> Organisationsnummer </label>
                    <input asp-for="ad_an_orgNr" type="hidden" />
                    <p class="form-control-static">@ViewBag.Annonsor.an_orgNr</p>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VisaAnnonser">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
